<!-- templates/admin/base_site.html -->
{% extends "admin/base.html" %}

{% block title %}Trang Quản Trị Quán Net{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">QUẢN LÝ QUÁN NET</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <style>
    /* Đổi màu header */
    #header {
        background: #c0392b; /* Màu đỏ đậm */
    }
    /* Đổi màu thanh sidebar */
    #nav-sidebar {
        background: #2c3e50; /* Màu xanh đen */
    }
  </style>
{% endblock %}